<p>
  <strong>Image:</strong>
  <%= image_tag @user.image.thumb100.url if @user.image && @user.image.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>